@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: #f8fafc;
  font-family: 'Fustat', sans-serif;
}

.fustat {
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}